<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script>
      var json, data = '{{ data|safe }}';
      notify_parent_wnd();

      function notify_parent_wnd() {
        var parent = window.opener || (window.parent != window ? window.parent : false);
        data = JSON.parse(data);
        if (parent) {
            json = {
              action: "CompletePayment",
              data: data
            };
            console.log("ifrm: payment is completed", data.HostedPaymentStatus, data.ExpressResponseMessage);
            parent.postMessage(JSON.stringify(json), '*');
        } else {
            console.log("Payment is completed with status:", data.HostedPaymentStatus, data.ExpressResponseMessage);
            console.error("ifrm: Parent window is not found.");
        }
      }
    </script>
</head>
<body>
